.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  min-height: 100vh;
  font-family: "Raleway", "Righteou", sans-serif;
  color: aliceblue;
  background-color: #1a1f20;
}

.head_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: fixed;
  width:100vw;
  margin:30px 0;
  z-index: 4;
}

.starPic {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height:350px;
  z-index: 0;
}

.glow {
  z-index: 3;
  font-family: "Raleway";
  font-size: 42px;
  font-weight: 300;
  color: #fff;
  width: 500px;
  display:flex ;
  justify-content: center;
  margin: 20px;
  animation: flicker 1.5s infinite alternate; 
}

/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #5271ff,
      0 0 40px #1a33a3,
      0 0 80px #1a33a3,
      0 0 90px #1a33a3;
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

.logo {
  z-index: 3;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 300px 120px 100px 120px;
}

.image_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 100px;
  text-align: center;
  z-index: 2;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:250px;
  margin: 20px 0;
  position: relative;
  z-index: 2;
}

.title {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: linear-gradient( rgba(26, 31, 32,1), rgba(26,31,32,0.3));
  align-items: center;
}

.item:hover .title {
  opacity: 1;
}

.button{
  height:30px;
  padding: 5px 12px;
  margin-right: 12px;
  border: 1.5px solid #fff;
  border-radius: 8px;
  background: rgba(26,31,32,0.1);
  color: #fff;
  z-index: 4;
  position: absolute;
  top:5%;
  left:8%;
}

.view_button{
  height:30px;
  padding: 5px 12px;
  margin-right: 12px;
  border: 1.5px solid #fff;
  border-radius: 8px;
  background: rgba(26,31,32,0.1);
  color: #fff;
  z-index: 4;
}


.mask1 {
  -webkit-mask-image: url(../public/circle.svg);
  mask-image: url(../public/circle.svg);
  width: 270px;
  height: 270px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mask2 {
  -webkit-mask-image: url(../public/circle.svg);
  mask-image: url(../public/circle.svg);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
width: 70vw;
margin-top: 100px;
/* display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between; */
display: flex;
flex-direction: column;
justify-content:space-between;
align-items: center;
}

.tr {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.td{
  margin: 10px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
 
}

/* Mobile */
@media (max-width: 700px) {
 
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}

@media (prefers-color-scheme: dark) {
  
}

